{% extends './base.html' %}

{% block content %}
<div class="table-responsive">
  <h4 class="display-4">{{snippet.title}}</h4>
  <table class="table table-hover">      
  <thead>
    <tr>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{snippet.language}}</td>
    </tr>
  </tbody>    
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{snippet.description}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><pre>{{snippet.snippet}}</pre></td>
    </tr>
  </tbody>
  </table>
</div>

{% endblock %}