{% extends './base.html' %}

{% block content %}
<div>
  <h5>{{snippet.language}}/{{snippet.title}}</h5>
  <table class="table table-responsive">      
  <thead>
    <tr>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{snippet.description}}</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><pre>{{snippet.snippet}}</pre></td>
    </tr>
  </tbody>
  </table>
</div>

{% endblock %}