{% extends './base.html' %}
{% block title %} xanimo.herokuapp.com {% endblock %}

{% block content %}

    <h4>view codes</h4>
    {% if snippet_list %}
      <ul class="list-group">
      {% for snippet in snippet_list %}
        <li class="list-group-item">{{snippet.language}}/{{ snippet.title }}
            <a class="btn-sm btn-primary float-right" href="/detail/{{snippet.id}}">view</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>no posts yet.</p>
    {% endif%}
{% endblock %}